{% macro button_wrapper(btn) %}
  {{ _self.button(btn['id'],btn['type'],btn['toggle'],btn['target'],btn['name'],btn['role'],btn['content']) }}
{% endmacro %}

{% macro button(id, type, toggle, target, name, role, content) %}
  <button type="button" id="{{ id }}" class="btn btn-sm {{ type }}" role="{{ role }}" data-toggle="{{ toggle }}" data-target="{{ target }}" data-content="{{ content }}">{{ name }}</button>
{% endmacro %}

{% macro modal_wrapper(mod) %}
  {{ _self.modal(mod['type'],mod['classname'],mod['title'],mod['content'],mod['prefix'],mod['class']) }}
{% endmacro %}

{% macro modal(type, classname, title, content, prefix, class) %}
<!-- Modal {{ type }} {{title}} -->
<div class="modal fade {{ classname }} modal_{{ class }}" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{% if prefix|length %}{{ prefix }}: {% endif %}{{ title|raw }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{ content|raw }}
      </div>
    </div>
  </div>
</div>
<!-- -->
{% endmacro %}

{% macro info_box(info) %}
  {{ info['description']|raw }}
  <br />
  {% if info['publication']|length %}
    <br />
    <h6>Publications</h6>
    {% for pub in info['publication'] %}
      <p>{{ pub|raw }}<br /></p>
    {% endfor %}
  {% endif %}
  {% if info['license']|length %}
    <br />
    <h6>Licenses</h6>
    <p>
    {% for tool, license in info['license'] %}
      {{ tool }}: {{ license }}<br />
    {% endfor %}
    </p>
  {% endif %}
{% endmacro %}

{% macro radiobutton_wrapper(rd) %}
  {{ _self.radiobutton(rd['value'], rd['checked'], rd['title'], rd['name'], rd['buttons'], rd['desc'], rd['info']) }}
{% endmacro %}

{% macro radiobutton(value, checked, title, name, buttons, data_description, info) %}
  <div class="custom-control custom-radio">
    <input type="radio" class="custom-control-input guibuild guiradio" id="{{ value }}" data-description="{{ data_description }}" value="{{ value }}" name="{{ name }}"
    {% if checked %} checked="checked" {% endif %} />
    <label class="custom-control-label" for="{{ value }}">
      {% if info|length %}
      <a href="#" class="buildlink" title="{{ title|raw }} {{ info['name'] }}" data-toggle="{{ info['toggle'] }}" data-target="{{ info['target'] }}" >{{ title|raw }}</a>
      {% else %}{{ title|raw }}{% endif %}
      {% for btn in buttons %}{{ _self.button_wrapper(btn) }}{% endfor %}
    </label>
  </div>
{% endmacro %}

{% macro checkbox_wrapper(cb) %}
  {{ _self.checkbox(cb['nonclass'], cb['id'], cb['value'], cb['checked'], cb['title'], cb['name'], cb['buttons'], cb['desc'], cb['info']) }}
{% endmacro %}

{% macro checkbox(nonclass, id, value, checked, title, name, buttons, data_description, info) %}
  <div class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input guibuild guibox {{ nonclass }}"
    value="{{ value }}" name="{{ name }}" id="{{ id }}"
    {% if data_description is defined and data_description|length > 0 %}data-description="{{ data_description }}" {% endif %}
    {% if checked %} checked="checked" {% endif %} />
    <label class="custom-control-label" for="{{ id }}">
      {% if info|length %}
      <a href="#" class="buildlink" title="{{ title|raw }} {{ info['name'] }}" data-toggle="{{ info['toggle'] }}" data-target="{{ info['target'] }}" >{{ title|raw }}</a>
      {% else %}{{ title|raw }}{% endif %}
      {% for btn in buttons %}{{ _self.button_wrapper(btn) }}{% endfor %}
    </label>
  </div>
{% endmacro %}
