{% macro setting(options) %}
  <div class="container">
    {% for option in options %}
      {{ _self.option(option) }}
    {% endfor %}
  </div>
{% endmacro %}

{% macro option(option) %}
  <div class="row settigsrow">
    <h6>{{ option['title'] }}</h6>
  </div>
  <div class="row">
    {% if option['type'] == 'radio' %}
      {{ _self.radiobutton_wrapper(option['para']) }}
    {% elseif option['type'] == 'select' %}
      {{ _self.dropdown_wrapper(option['para']) }}
    {% elseif option['type'] == 'input' %}
      {{ _self.input_wrapper(option['para']) }}
    {% elseif option['type'] == 'range_slider' %}
      {{ _self.slider_wrapper(option['para']) }}
    {% endif %}
  </div>
{% endmacro %}

{% macro radiobutton_wrapper(rb) %}
  {{ _self.radiobutton(rb['name'],rb['setting'],rb['prefix'], rb['class']) }}
{% endmacro %}

{% macro radiobutton(name, setting, prefix, class) %}
  {% set fullid = prefix ~ '_radio_' ~ name %}
  <div class="col-10">
    {% for radioname, radio in setting['values'][0] %}
      <div class="row">
        <div class="custom-control custom-radio">
          <input class="custom-control-input {{ class }}" type="radio" name="{{ fullid }}" id="{{ fullid }}_{{ radioname }}" value="{{ radioname }}"
          {%- if radio['default'] is defined and radio['default'] -%} {{" "}} checked {%- endif -%}
          {%- if radio['tax'] is defined -%}
            data-taxonomy="{{- radio['tax'] -}}"
          {%- endif -%}
          />
          <label class="custom-control-label" for="{{ fullid }}_{{ radioname }}">
            {% if radio['title'] is defined and radio['title']|length > 0 %}
              {{- radio['title']|raw }}
            {% else %}
              {{- radioname }}
            {% endif %}
          </label>
        </div>
      </div>
    {% endfor %}
  </div>
  <div class="col">
    {% if setting['description'] is defined %}
      {{ _self.help_button(setting['description']) }}
    {% endif %}
  </div>
{% endmacro %}

{% macro dropdown_wrapper(dd) %}
  {{ _self.dropdown(dd['name'],dd['setting'],dd['prefix'],dd['class']) }}
{% endmacro %}

{% macro dropdown(name, setting, prefix, class) %}
  {% set fullid = prefix ~ '_radio_' ~ name %}
  <div class="col-10">
    <div class="dropdown">
      <select name="{{ fullid }}" class="custom-select {{ class }}">
        {% for dropdown_name, dropdown in setting['values'][0] %}
        <option id="{{ fullid }}_{{ dropdown_name }}" value="{{ dropdown_name }}"
        {%- if dropdown['default'] is defined and dropdown['default'] %}  {{" "}} selected {%- endif -%}
        {%- if dropdown['tax'] is defined -%}
          {{" "}} data-taxonomy="{{- dropdown['tax'] -}}"
        {%- endif -%}
        >
          {%- if dropdown['title'] is defined and dropdown['title']|length > 0 -%}
            {{- dropdown['title']|raw }}
          {%- else -%}
            {{- dropdown_name }}
          {%- endif -%}
        </option>
        {% endfor %}
      </select>
    </div>
  </div>
  <div class="col">
    {% if setting['description'] is defined %}
      {{ _self.help_button(setting['description']) }}
    {% endif %}
  </div>
{% endmacro %}

{% macro input_wrapper(ip) %}
  {{ _self.input(ip['name'],ip['setting'],ip['prefix']) }}
{% endmacro %}

{% macro input(name, setting, prefix) %}
  <div class="col-7">
    <input id="{{ prefix }}_input_{{ name }}" type="text" name="{{ prefix }}_input_{{ name }}"
    value="{{ setting['values']['set'] }}" style="width:100%;" />
  </div>

  {% if (setting['values']['min'] is defined and setting['values']['min']|length > 0)
  or (setting['values']['max'] is defined and setting['values']['max']|length > 0) %}
    <div class="col" style="text-align: right; font-size: 9pt;">
      <span class="gray">
        {% if setting['values']['min']|length > 0 %}min. {{ setting['values']['min'] }}{% endif %}
        {% if setting['values']['min']|length > 0 and setting['values']['max']|length > 0%} - {% endif %}
        {% if setting['values']['max']|length > 0 %}max. {{ setting['values']['max'] }}{% endif %}
      </span>
    </div>
  {% endif %}

  <div class="col">
    {% if setting['description'] is defined %}
      {{ _self.help_button(setting['description']) }}
    {% endif %}
  </div>
{% endmacro %}

{% macro slider_wrapper(sd) %}
  {{ _self.slider(sd['name'],sd['setting'],sd['prefix']) }}
{% endmacro %}

{% macro slider(name, setting, prefix) %}
  {% set slidername = prefix ~ '_slider_' ~ name %}
  <div class="col-7">
    {{ _self.slider_input(slidername, setting['values']['min'], setting['values']['max'], setting['values']['step'], setting['values']['set']) }}
  </div>
  <div class="col">
    <span class="dyn_val" id="{{ slidername }}_value" data-attribute="{{ slidername }}" ></span>
  </div>
  <div class="col">
    <button type="button" id="{{ slidername }}_destroy" data-attribute="{{ slidername }}" class="btn btn-warning btn-sm dyn_distroy">Manual input</button>

    {% if setting['description'] is defined %}
      {{ _self.help_button(setting['description']) }}
    {% endif %}
  </div>
{% endmacro %}

{% macro slider_input(id, min, max, step, default, width = 100) %}
  <input class="dyn_slider" id="{{ id }}" type="text" data-slider-min="{{ min }}"
   data-slider-max="{{ max }}" data-slider-step="{{ step }}"
   data-slider-value="{{ default }}" name="{{ id }}" style="width:100%;" />
{% endmacro %}

{% macro help_button(description, name = '?') %}
  <button type="button" class="btn btn-info btn-sm" data-container="body" data-toggle="popover"
  data-placement="right" data-content="{{ description }}">{{ name }}</button>
{% endmacro %}
