<div class="row">
  <div class="col-4">
    <div class="custom-control custom-checkbox" style="top:0.7em;margin-left:1rem;">
      <input type="checkbox" class="custom-control-input " value="gprofil" name="gprofiler" id="gprofiler" >
      <label class="custom-control-label" for="gprofiler"><a href="https://biit.cs.ut.ee/gprofiler/gost" target="_blank">g:Profiler g:GOSt (external)</a></label>
      <p class="gray">Functional Enrichment Analysis</p>
    </div>
  </div>

  <div class="col-8">
    <div class="dropdown">
      <label calss="custom-control-label" for="gprofiler-organism">Organism</label>
      <select id="gprofiler-organism" name="gprofiler-organism" class="custom-select">
      </select>
    </div>
  </div>

</div>

<script>
function load_gprofiler_organism() {
  $.get("https://biit.cs.ut.ee/gprofiler/api/util/organisms_list", function(data) {
    console.log("gProfiler organism list loaded");
    $.each(data, function(index, itemData) {
      var selectfield = '<option value="' + itemData.id + '">' + itemData.scientific_name + '</option>';
      $('#gprofiler-organism').append(selectfield)
    });
  });
}
$('input#gprofiler').change(function() {
  if( $(this).prop("checked") ) {
    load_gprofiler_organism();
  } else {
    $('#gprofiler-organism').html('');
  }
});
</script>
