<div class="row">
  <div class="col-4">
    <div class="custom-control custom-checkbox" style="top:0.7em;margin-left:1rem;">
      <input type="checkbox" class="custom-control-input " value="iid" name="iid" id="iid" >
      <label class="custom-control-label" for="iid"><a href="http://iid.ophid.utoronto.ca/" target="_blank">Integrated Interactions Database (external)</a></label>
      <p class="gray">Protein-Protein Interactions Analysis</p>
    </div>
  </div>

  <div class="col-8">
    <div class="dropdown">
      <label calss="custom-control-label" for="iid-organism">Organism</label>
      <select id="iid-organism" name="iid-organism" class="custom-select">
        <option value="alpaca">alpaca</option>
        <option value="cat">cat</option>
        <option value="chicken">chicken</option>
        <option value="cow">cow</option>
        <option value="dog">dog</option>
        <option value="duck">duck</option>
        <option value="fly">fly</option>
        <option value="guinea_pig">guinea pig</option>
        <option value="horse">horse</option>
        <option value="human" selected="selected">human</option>
        <option value="mouse">mouse</option>
        <option value="pig">pig</option>
        <option value="rabbit">rabbit</option>
        <option value="rat">rat</option>
        <option value="sheep">sheep</option>
        <option value="turkey">turkey</option>
        <option value="worm">worm</option>
        <option value="yeast">yeast</option>
      </select>
    </div>
  </div>

</div>
