<div class="row">
  <div class="col-4">
    <div class="custom-control custom-checkbox" style="top:0.7em;margin-left:1rem;">
      <input type="checkbox" class="custom-control-input " value="kpm" name="kpm" id="kpm" >
      <label class="custom-control-label" for="kpm"><a href="https://keypathwayminer.compbio.sdu.dk/keypathwayminer/" target="_blank">KeyPathwayMiner (external)</a></label>
    </div>
  </div>
  <div class="col-8">
    <div >
      <label for="kpmserver">Server</label>
      <input type="text" class="form-control" id="kpmserver" name="kpmserver" placeholder="URL" value="https://exbio.wzw.tum.de/keypathwayminer/">
      </select>
    </div>
    <br />
    <div id="kpmnet">
      <label for="network">GraphID or network name</label>
      <input type="text" class="form-control" id="network" name="kpmnetwork" placeholder="graphID or network name" value="">
      <a class="graphid" href="#" target="_blank">graphIDs</a>, <a class="networks" href="#" target="_blank">networks</a>
      </select>
    </div>
  </div>
</div>

<script>
function validURL(str) {
  var pattern = new RegExp('^(https?:\\/\\/)?'+
    '((([a-z\\d]([a-z\\d-]*[a-z\\d])*)\\.)+[a-z]{2,}|'+
    '((\\d{1,3}\\.){3}\\d{1,3}))'+
    '(\\:\\d+)?(\\/[-a-z\\d%_.~+]*)*'+
    '(\\?[;&a-z\\d%_.~+=-]*)?'+
    '(\\#[-a-z\\d_]*)?$','i');
  return !!pattern.test(str);
}

function updateKPM() {
var kpmserver = $('#kpmserver').val()
  if( validURL(kpmserver) ) {
    if( kpmserver.slice(-1) != "/") {
      kpmserver = kpmserver + "/"
    }

    var graphids = kpmserver + "rest/availableNetworks";
    var networks = kpmserver + "networks/index"
    $('div#kpmnet a.graphid').attr('href', graphids)
    $('div#kpmnet a.networks').attr('href', networks)
  }
}

updateKPM();
$("input#kpmserver").on('input', function() {
  console.log("changed");
  updateKPM();
});

</script>
