<div class="row">
  <div class="col-4">
    <div class="custom-control custom-checkbox" style="top:0.7em;margin-left:1rem;">
      <input type="checkbox" class="custom-control-input " value="newcpgreport" name="newcpgreport" id="newcpgreport" >
      <label class="custom-control-label" for="newcpgreport">newcpgreport</label>
      <p class="gray">CpG island detection</p>
    </div>
  </div>
  <div class="col-8">
  </div>
</div>
