<div class="row">
  <div class="col-4">
    <div class="custom-control custom-checkbox" style="top:0.7em;margin-left:1rem;">
      <input type="checkbox" class="custom-control-input " value="spliceator" name="spliceator" id="spliceator" >
      <label class="custom-control-label" for="spliceator">Spliceator</label>
      <p class="gray">Splicing site detection</p>
    </div>
  </div>

  <div class="col-8">
    <div class="dropdown">
      <label calss="custom-control-label" for="spliceator-md">Model Donor</label>
      <select id="spliceator-md" name="spliceator-md" class="custom-select">
        <option value="20">20</option>
        <option value="80">80</option>
        <option value="140">140</option>
        <option selected value="200">200</option>
        <option value="400">400</option>
        <option value="600">600</option>
      </select>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-4">
  </div>
  <div class="col-8">
    <div class="dropdown">
      <label calss="custom-control-label" for="spliceator-ma">Model Acceptor</label>
      <select id="spliceator-ma" name="spliceator-ma" class="custom-select">
        <option value="20">20</option>
        <option value="80">80</option>
        <option selected value="140">140</option>
        <option value="200">200</option>
        <option value="400">400</option>
        <option value="600">600</option>
      </select>
    </div>
  </div>
</div>
