<div class="row">
  <div class="col-4">
    <div class="custom-control custom-checkbox" style="top:0.7em;margin-left:1rem;">
      <input type="checkbox" class="custom-control-input " value="stringdb" name="stringdb" id="stringdb" >
      <label class="custom-control-label" for="stringdb"><a href="https://string-db.org/" target="_blank">STRING (external)</a></label>
      <p class="gray">Protein-Protein Interactions Analysis</p>
    </div>
  </div>

  <div class="col-8">
    <div class="dropdown">
      <label calss="custom-control-label" for="stringdb-organism">Organism</label>
      <select id="stringdb-organism" name="stringdb-organism" class="custom-select">
      </select>
    </div>
  </div>
</div>

<script>
function load_stringdb_organism() {
  $.get("includes/modules/stringdb_species.json", function(data) {
    console.log("StringDB organism list loaded");
    $.each(data, function(index, itemData) {
      var selectfield = '<option value="' + itemData[1] + '">' + itemData[0] + '</option>';
      $('#stringdb-organism').append(selectfield)
    });
  });
}
$('input#stringdb').change(function() {
  if( $(this).prop("checked") ) {
    load_stringdb_organism();
  } else {
    $('#stringdb-organism').html('');
  }
});
</script>
