{% extends 'base.html.twig' %}

{% block body %}

<div class="container gprofiler">
  <div class="card">
  <h5 class="card-header">g:Profiler g:GOSt</h5>
  <div class="card-body">
    <p style="text-align:left;">
      These are the g:Profiler g:GOSt functional profiling results with all filtered annotated genes.
      <strong>Sig</strong>: Signifiant.
      <strong>EDS</strong>: Effective Domain Size.
      <strong>IS</strong>: Interaction Size.
      <strong>TS</strong>: Term Size.
    </p>
    {{ table|raw }}
  </div>
  </div>
</div>

{% endblock %}
