{% extends 'base.html.twig' %}

{% block body %}

<div class="container gprofiler">
  <div class="card">
  <h5 class="card-header">STRING</h5>
  <div class="card-body">
    <p style="text-align:left;">
      These are the STRING results with all filtered annotated genes. Click on a STRING ID to  get the network information.
    </p>
    {{ table|raw }}
  </div>
  </div>
</div>

<script>
$("#stringdb tr").each(function(){
var txt = $(this).find("td:eq(1)").text();
var href = '<a href="https://string-db.org/network/' + txt + '" target="_blank">' + txt + '</a>';
$(this).find("td:eq(1)").html(href);
});
</script>

{% endblock %}
