<div class="jumbotron text-center">
  {% include 'header/version.html.twig' %}
  {% include 'header/twitter.html.twig' %}
  <a href="index.php"><img src="images/mosga-logo-full.svg" id="full-logo" title="MOSGA" /></a>
  {% include 'header/gitlab.html.twig' %}
</div>
