<div id="annotation_submission" class="container">

  <div class="row" style="margin-top:20px;">
    <p>Upload your assembled FASTA <strong>eukaryotic</strong> genome file.</p>

    <!-- Genome FASTA file -->
    <div class="form-group custom-file genome">
      <input type="file" class="fileupload custom-file-input form-control" aria-required="true" required id="genome" name="files" data-url="upload.php?param=genome" data-finished="0">
      <label class="custom-file-label" for="genome">Select a FASTA or GBFF file</label>
    </div>
    <div class="progress" data-target="genome" style="width: 100%; height: 5px; visibility: hidden;">
      <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" data-target="genome" role="progressbar" aria-valuenow="" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
    </div>

    <div class="container" style="padding-left:0 ;">
      <div class="form-row">
        <div class="col-md-4">
          <input type="text" class="form-control" id="specie" name="specie" placeholder="Type in and select your species" value="">
          <input type="hidden" id="ncbi_tax_id" name="ncbi_tax_id" value="0" />
        </div>
        <div class="col-md-3">
          <div class="custom-control custom-checkbox" style="top:0.35em;">
            <input type="checkbox" class="custom-control-input disabled" value="ncbi_taxsearch" name="ncbi_taxsearch" id="ncbi_taxsearch" disabled>
            <label class="custom-control-label" for="ncbi_taxsearch">Identify the most suitable models</label>
          </div>
        </div>
      </div>
    </div>

    <div class="mt5px">
      <!-- Submission Details Button -->
      <button class="btn btn-primary mr1rem" type="button" data-toggle="collapse" data-target="#collapseSub" aria-expanded="false" aria-controls="collapseSub">
        Details
      </button>

      <!-- Conflict Resolution Button -->
      <button class="btn btn-primary mr1rem" type="button" data-toggle="collapse" data-target="#collapsePrio" aria-expanded="false" aria-controls="collapsePrio">
        Conflict Resolution
      </button>

      <!-- Advanced Modules Button -->
      <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseFuncProf" aria-expanded="false" aria-controls="collapseFuncProf">
        Advanced Modules
      </button>
    </div>

    <div class="custom-control custom-checkbox" style="top:0.7em;margin-left:1rem;">
      <input type="checkbox" class="custom-control-input " value="scan" name="organelle" id="organelle" checked="checked">
      <label class="custom-control-label" for="organelle">Scan for organelles</label>
    </div>

    {% if(public) %}
    <div class="alert alert-danger" style="margin-left:auto;margin-bottom:auto;" role="alert">
      Submitted jobs and data are publicly visible on this host!
    </div>
    {% endif %}

  </div>


  <div class="row">
    <div class="col">

      <!-- Submission Details -->
      <div class="collapse" id="collapseSub">
        <div class="card card-body">{% include 'submission/details.html.twig' %}</div>
      </div>

      <!-- Conflict Resolution -->
      <div class="collapse" id="collapsePrio">
        <div class="card card-body">{% include 'submission/priority-list.html.twig' %}</div>
      </div>

      <!-- Advanced Modules -->
      <div class="collapse" id="collapseFuncProf">
        <div class="card card-body">
          {% for sub in modules_submission %}
            {% include "modules/submission/#{sub}" %}<hr />
          {% endfor %}
        </div>
      </div>

    </div>
  </div>
</div>
