<div id="comparative_submission" class="container">

  <div class="row" style="margin-top:20px;">
    <p>Upload your assembled FASTA <strong>eukaryotic</strong> genome files.</p>

    <!-- FASTA files upload -->
    <div class="container">
      <div class="row">
        <div class="col form-group custom-file genome">
          <input type="file" name="files[]" class="fileupload x custom-file-input form-control" multiple {% if file_list is empty %} required {% endif %} aria-required="true" id="genomes" data-url="upload.php?param=genomes" data-sequential-uploads="true" data-finished="0">
          <label class="custom-file-label" for="genomes">Select FASTA or GBFF files</label>
        </div>
      </div>
    </div>

    {% if(public) %}
    <div class="alert alert-danger" style="margin:auto;margin-top:5px;" role="alert">
      Submitted jobs and data are publicly visible on this host!
    </div>
    {% endif %}

    <!-- FASTA files list -->
    <input type="hidden" name="outgroups" value="" id="outgroups" form="mosga">
    <div class="container">
      <div class="row row-cols-6" id="genome-files">
        {% set k = file_list|length %}
        {% if k > 0 %}
        {% for i in range(0, k - 1) %}
          <div class="col" style="padding: 2.5px 5px 2.5px 5px;">
            <div class="border rounded bg-light">
              <!-- FASTA file name -->
              <div style="margin: 2.5px 10px 2.5px 10px;">{{ file_list[i][1] }}</div>
              <hr style="margin: 2.5px 10px 2.5px 10px;"/>
              <!-- Outgroup option -->
              <div style="margin: 2.5px 10px 2.5px 10px;" class="custom-control custom-checkbox" style="top:0.35em;">
                <input type="checkbox" class="custom-control-input disabled" value="{{ file_list[i][1] }}" id="outgroup_{{ i }}">
                <label class="custom-control-label" for="outgroup_{{ i }}">Outgroup</label>
              </div>
              <!-- Progress bar -->
              <div class="progress" style="width: 100%; height: 5px; visibility: visible;">
                <div class="progress-bar bg-success" role="progressbar" aria-valuenow="" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
              </div>
            </div>
            <input type="hidden" name="files[]" value="{{ file_list[i][0] }} {{ file_list[i][1] }}" form="mosga">
          </div>
        {% endfor %}
        {% endif %}
      </div>
    </div>
  </div>
</div>
