<div class="form-row">
  <div class="col-md-4 mb-3">
    <label for="loc_prefix">Locus prefix</label>
    <input type="text" class="form-control" id="loc_prefix" name="loc_prefix" placeholder="RM" value="">
  </div>
  <div class="col-md-4 mb-3">
    <label for="template"><a href="https://submit.ncbi.nlm.nih.gov/genbank/template/submission/" target="_blank">GenBank Submission Template</a></label>
    <div class="form-group custom-file template">
      <input id="template" type="file" class="fileupload custom-file-input form-control" aria-required="true" name="files" data-url="upload.php?param=template" data-finished="0">
      <label class="custom-file-label" for="template">Choose a submission template file</label>
    </div>
    <div class="progress" data-target="template" style="width: 100%;visibility: hidden; width: 100%; height: 4px;">
      <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" data-target="template" role="progressbar" aria-valuenow="" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
    </div>
  </div>
  <div class="col-md-4 mb-3">
    <label for="validationCustom02">Assembly Gaps: Poly Ns interpretation</label>
    <div class="form-group">
       <select class="custom-select" required name="polyN">
         <option value="a">Any</option>
         <option value="r20u">Runs of 20+ Ns are gaps, 100 Ns are unknown length</option>
         <option value="r20k">Runs of 20+ Ns are gaps, 100 Ns are known length</option>
         <option selected value="r10u">Runs of 10+ Ns are gaps, 100 Ns are unknown length</option>
         <option value="r10k">Runs of 10+ Ns are gaps, 100 Ns are known length</option>
       </select>
     </div>
  </div>
</div>

<div class="form-row">
  <div class="col-md-4 mb-3">
    <label for="validationCustom02">Assembly Gaps: Linkage</label>
    <div class="form-group">
       <select class="custom-select" name="linkage">
         <option value="none">None</option>
         <option value="paired-ends">paired-ends</option>
         <option value="align-genus">align-genus</option>
         <option value="align-trnscpt">align-trnscpt</option>
         <option value="within-clone">with-clone</option>
         <option value="clone-contig">clone-contig</option>
         <option selected value="map">map</option>
         <option value="strobe">strobe</option>
       </select>
     </div>
  </div>

  <div class="col-md-4 mb-3">
    <label for="prefix">Accession prefix</label>
    <input type="text" class="form-control" id="prefix" name="prefix" placeholder="gnl|RM|" value="">
  </div>

  <div class="col-md-4 mb-3">
    <label for="strain">Strain</label>
    <input type="text" class="form-control" id="strain" name="strain" placeholder="Strain" value="">
  </div>
</div>

<div class="form-row">
  <div class="col-md-4 mb-3">

    <label for="ignore_region">Exclude specific regions (experimental)
      <button type="button" class="btn btn-info btn-sm" data-container="body" data-toggle="popover" data-placement="right" data-content="You can upload a BED/GFF/VCF file which contains regions that should completely be ignored by MOSGA. This hardmasks the regions during annotation.">?</button>
    </label>

    <div class="form-group custom-file ignoreregion">
      <input id="ignoreregion" type="file" class="fileupload custom-file-input form-control" aria-required="true" name="files" data-url="upload.php?param=ignoreregion" data-finished="0">
      <label class="custom-file-label" for="ignoreregion">Choose a BED/VCF/GFF file</label>
    </div>
    <div class="progress" data-target="ignoreregion" style="width: 100%;visibility: hidden; width: 100%; height: 4px;">
      <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" data-target="template" role="progressbar" aria-valuenow="" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
    </div>

  </div>
</div>
