{% import 'gui-builder/grid.html.twig' as blocks %}

<form id="mosga" method="post" action="index.php?mode={{ mode }}" enctype="multipart/form-data" role="form">

{% if mode == "comparative" %}
    {% include 'submission/comparative.html.twig' %}
{% else %}
    {% include 'submission/annotation.html.twig' %}
{% endif %}

<hr />
<div class="container">
  <div class="row justify-content-between">
    <div class="float-left">Choose your tools:</div>
  </div>

  {% block gui_dynamic %}
    {% for order in submission_gui %}
      {% for key, outer in order %}
        {% if key == "single" %}
          {% for outer_single in outer %}
            {{ blocks.grid_outer_single(outer_single) }}
          {% endfor %}
        {% elseif key == "multi" %}
          {% for outer_multi in outer %}
            {{ blocks.grid_outer_multi(outer_multi['content'],outer_multi['title'],outer_multi['collapse'],outer_multi['no_prio'],outer_multi['unit']) }}
          {% endfor %}
        {% endif %}
      {% endfor %}
    {% endfor %}
  {% endblock %}
</div>

<hr />
<div class="container">
  <div class="text-center">
    <input id="sub_id" type="hidden" name="sub_id" value="{{ submission_id }}" />
    <button id="submit_job" type="submit" class="btn btn-success btn-submit">Run!</button>
  </div>
</div>

</form>
<script src="includes/js/mosga.js"></script>
