<input id="priority_list" type="hidden" value="" name="priority_list" />
<div class="card " style="width: 18rem;">
  <div class="card-header">Priority <small>(highest priority first)</small></div>
    <div class="form-check priorty_form">
      <input type="checkbox" class="form-check-input" id="set_priority">
      <label class="form-check-label" for="set_priority">Define priority manually</label>
    </div>
  <ul class="list-group list-group-flush list-group-sortable"></ul>
</div>
