<div class="container">
  <div class="row">
    <p>
      <a href="https://mosga.mathematik.uni-marburg.de" target="_blank"><img src="images/mosga-logo.svg" class="logo mosga"/></a>
      <a href="http://heiderlab.de" target="_blank" title="Heiderlab"><img src="images/heiderlab-logo.svg" class="logo heiderlab"></a>
      The <strong>M</strong>odular <strong>O</strong>pen-<strong>S</strong>ource <strong>G</strong>enome <strong>A</strong>nnotator (MOSGA)
      is a pipeline that easily creates draft genome annotation by a graphical user interface.
      It combines several specific prediction tools and generates a submission-ready annotation file.<br /><br />

      The source code is freely available on <a href="https://www.gitlab.com/mosga/mosga" target="_blank">Gitlab.com</a> or <a href="https://doi.org/10.5281/zenodo.5121228" target="_blank">Zenodo.com</a> (DOI: 10.5281/zenodo.5121228).
      We recommend building a new docker container from the available Dockerfile in the linked Gitlab repository. MOSGA is written modular and allows easy integration of new prediction tools or even including whole third-party pipelines.<br /><br />

      For any questions or comments, please contact us: roman.martin@uni-marburg.de. We are happy to receive

      new suggestions or even merge requests for a pipeline extension. To provide an overview of the operation principle, we recommend reading our <a href="https://gitlab.com/mosga/mosga/-/wikis/home" target="_blank">Gitlab wiki page</a>.
    </p><p>
      We are providing an example data set of the draft genome annotation of <a href="https://mosga.mathematik.uni-marburg.de/index.php?status=1&uid=c9baedb1&id=131" target="_blank"><i>Cafeteria roenbergensis</i> BVI strain</a>. Initially, we used an early version of MOSGA to annotate this genome (Hackl <i>et al.</i>, 2020).
      <a href="https://www.nature.com/articles/s41597-020-0363-4" target="_blank">Hackl, T., Martin, R., Barenhoff, K. et al. Four high-quality draft genome assemblies of the marine heterotrophic nanoflagellate Cafeteria roenbergensis. Sci Data 7, 29 (2020).</a>
    </p>
    <p>
      We provide two examples for the comparative genomics workflow: The <a href="https://mosga.mathematik.uni-marburg.de/job_9c2cb5d3_236.html" target="_blank"><i>Saccharomyces</i> species
      phylogenetics</a> and the <a href="https://mosga.mathematik.uni-marburg.de/job_195325c3_244.html" target="_blank"><i>Saccharomyces</i> gene comparison</a>.
      An exemplary annotation job for the organelle scanner based on the <a href="https://mosga.mathematik.uni-marburg.de/job_dd02ad62_247.html" target="_blank"><i>Nannochloropsis oceanica</i> genome is here</a> available.
    </p>
    <p>
      <em>Please take care about the licenses of the selected tools.</em>
    </p>
    <p>
      <em>Whenever you use MOSGA please cite us: </em><br />
      <strong>
      Roman Martin <a target="_blank" href="https://orcid.org/0000-0001-7678-7856"><img src="images/orcid.png" alt="orcid" class="orcid"/></a>,
      Thomas Hackl <a target="_blank" href="https://orcid.org/0000-0002-0022-320X"><img src="images/orcid.png" alt="orcid" class="orcid"/></a>,
      Georges Hattab <a target="_blank" href="https://orcid.org/0000-0003-4168-8254"><img src="images/orcid.png" alt="orcid" class="orcid"/></a>,
      Matthias Fischer <a target="_blank" href="https://orcid.org/0000-0002-4014-3626"><img src="images/orcid.png" alt="orcid" class="orcid"/></a>,
      Dominik Heider <a target="_blank" href="https://orcid.org/0000-0002-3108-8311"><img src="images/orcid.png" alt="orcid" class="orcid"/></a>
      (2020). MOSGA: Modular Open-Source Genome Annotator. Bioinformatics. 36(22-23). 5514–5515. doi: <a href="https://doi.org/10.1093/bioinformatics/btaa1003" target="_blank">10.1093/bioinformatics/btaa1003</a>.
    </strong><br /><br />
    <strong>
      Roman Martin <a target="_blank" href="https://orcid.org/0000-0001-7678-7856"><img src="images/orcid.png" alt="orcid" class="orcid"/></a>,
      Hagen Dreßler <a target="_blank" href="https://orcid.org/0000-0002-0698-9919"><img src="images/orcid.png" alt="orcid" class="orcid"/></a>,
      Georges Hattab <a target="_blank" href="https://orcid.org/0000-0003-4168-8254"><img src="images/orcid.png" alt="orcid" class="orcid"/></a>,
      Thomas Hackl <a target="_blank" href="https://orcid.org/0000-0002-0022-320X"><img src="images/orcid.png" alt="orcid" class="orcid"/></a>,
      Matthias Fischer <a target="_blank" href="https://orcid.org/0000-0002-4014-3626"><img src="images/orcid.png" alt="orcid" class="orcid"/></a>,
      Dominik Heider <a target="_blank" href="https://orcid.org/0000-0002-3108-8311"><img src="images/orcid.png" alt="orcid" class="orcid"/></a>
      (2021). MOSGA 2: Comparative genomics and validation tools. Computational and Structural Biotechnology Journal. 19. 5504-5509. doi: <a href="https://doi.org/10.1016/j.csbj.2021.09.024" target="_blank">10.1016/j.csbj.2021.09.024</a>.
      </strong>
    </p>
  </div>
</div>
