<!DOCTYPE html>
<html lang="en">
  <head>
    <title>MOSGA</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Copyright (C) 2021 Roman Martin. Designed and developed by Roman Martin">
    <meta name="description" content="The Modular Open-Source Genome Annotator (MOSGA) provides a web service to annotate your genome easily.">
    <link rel="stylesheet" href="includes/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="includes/css/style.css" />
    <link rel="stylesheet" href="includes/css/bootstrap-slider.min.css" />
    <link rel="stylesheet" href="includes/css/jquery.ui.css" />
    <link rel="stylesheet" href="includes/css/jquery-ui.theme.min.css" />
    <link rel="stylesheet" href="includes/css/jquery-ui.structure.min.css" />
    <script src="includes/js/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
    <script src="includes/js/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="includes/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="includes/js/bootstrap-slider.min.js"></script>
    <script src="includes/js/jquery.sortable.min.js"></script>
    <script src="includes/js/jquery-ui.min.js"></script>
    <script src="includes/js/jquery.iframe-transport.js"></script>
    <script src="includes/js/jquery.fileupload.js"></script>
    <link rel="icon" type="image/svg+xml" href="images/mosga-logo.svg" sizes="any">
  </head>
  <body>
  {% include 'header/header.html.twig' %}
  {% block body %}{% endblock %}
  </body>
</html>
