{% if has_host_file == true %}
  <article>
    {% include 'host.html' %}
  </article>
  <br />
{% endif %}

{% if show_server_usage == true %}
  {% include 'stats/server_usage.html.twig' %}
  <br />
{% endif %}
