<form method="post" id="jobs-table" action="index.php?mode=comparative" enctype="multipart/form-data" role="form">
  <div class="container">
    <div class="row">
      <table class="table table-hover record break-word">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">UID</th>
            <th scope="col">Name</th>
            <th scope="col" class="hidemobile">Files</th>
            <th scope="col" class="hidemobile">Submission Date</th>
            <th scope="col">Start date</th>
            <th scope="col">End date</th>
            <th scope="col">Mode</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody>
          {% for job in job_list %}
            <tr>
              <td>
                <div class="custom-control custom-checkbox">
                  <input class="custom-control-input custom-checkbox-group" type="checkbox" autocomplete="off" data-placement="bottom" data-content="Select at least one job!" name="jobs[]" value="{{ job[0] }}" id="_{{ job[0] }}" form="jobs-table">
                  <label class="custom-control-label" for="_{{ job[0] }}"></label>
                </div>
              </td>
              <td>
                <a href="job_{{ job[0] }}_{{ job[1] }}.html" target="_self">{{ job|first }}</a>
              </td>
              {% for item in job[2:] %}
                {% if loop.index == 2 %}
                  <td class="mono hidemobile">{{ item|join(',\n') }}</td>
                {% elseif loop.index == 3 %}
                  <td class="hidemobile">{{ item }}</td>
                {% else %}
                  <td>{{ item }}</td>
                {% endif %}
              {% endfor %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  {% if job_list|length > 0 %}
  <div class="container">
    <div class="text-right">
      <button type="submit" class="btn btn-success btn-submit custom-checkbox-trigger">Comparative Genomics</button>
    </div>
  </div>
  {% endif %}
</form>
<script src="includes/js/mosga-jobs.js"></script>
