{% extends 'base.html.twig' %}

{% block body %}
  <div class="container">
    <div class="card">
    <h5 class="card-header">{{ scaffold }}</h5>
    <div class="card-body">
      <form id="megablast" method="POST" action="https://blast.ncbi.nlm.nih.gov/Blast.cgi">
        <input type="hidden" name="DATABASE" value="nt" />
        <input type="hidden" name="PROGRAM" value="blastn" />
        <input type="hidden" name="FILTER" value="L" />
        <input type="hidden" name="EXPECT" value="0.001" />
        <input type="hidden" name="FORMAT_TYPE" value="HTML" />
        <input type="hidden" name="NCBI_GI" value="on" />
        <input type="hidden" name="MEGABLAST" value="on" />
        <input type="hidden" name="FORMAT_TYPE" value="HTML" />
        <input type="hidden" name="HITLIST_SIZE" value="10" />
        <input type="hidden" name="CMD" value="request" />
        <input type="hidden" name="QUERY" value="" />
      <button id="submit_to_ncbi" class="btn btn-primary">Submit to NCBI MegaBlast</button>
      </form>
      <button type="submit" id="sequence_to_clipboard" class="btn btn-primary">Copy to clipboard</button>
      <p></p>
      <pre id="gene_sequence">{{ sequence }}</pre>
    </div>
    </div>
  </div>

<script>
$('button#sequence_to_clipboard').click(function(){
  var range = document.createRange();
  range.selectNode(document.getElementById("gene_sequence"));
  window.getSelection().removeAllRanges();
  window.getSelection().addRange(range);
  document.execCommand("copy");
  window.getSelection().removeAllRanges();
});

$('button#submit_to_ncbi').click(function() {
  $('[name="QUERY"]').val( $('#gene_sequence').text())
  return true;
});
</script>
{% endblock %}
