<div class="container" style="width:100%; padding:0; margin-bottom:10px;">
    {% if(motd|length) %}
      <div class="alert alert-info" role="alert">
      {{ motd }}
      </div>
    {% endif %}

    <ul class="nav nav-tabs" id="tabs" role="tablist">
      {% if show_results == true %}
      <li class="nav-item">
        <a class="nav-link active" id="result-tab" data-toggle="tab" href="#result" role="tab" aria-controls="result" aria-selected="false">Result</a>
      </li>
      {% endif %}
      <li class="nav-item">
        <a class="nav-link{% if show_results == false %} active {% endif %}" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Submission</a>
      </li>
      {% if show_job_list == true %}
      <li class="nav-item">
        <a class="nav-link" id="list-tab" data-toggle="tab" href="#list" role="tab" aria-controls="list" aria-selected="false">Jobs</a>
      </li>
      {% endif %}
      <li class="nav-item">
        <a class="nav-link" id="about-tab" data-toggle="tab" href="#about" role="tab" aria-controls="about" aria-selected="false">About</a>
      </li>
      {% if show_host_tab == true %}
      <li class="nav-item">
        <a class="nav-link" id="host-tab" data-toggle="tab" href="#host" role="tab" aria-controls="host" aria-selected="false">Host</a>
      </li>
      {% endif %}
      <li class="nav-item ml-auto">
        <a href="{{ mode_switch_href }}" target="_self">
          <button type="button" class="btn btn-primary ml-2 btn-warning">&#8594; {{ mode_switch_text}}</button>
        </a>
      </li>
    </ul>
</div>

<div class="tab-content" id="myTabContent">
  {% if show_results == true %}
  <div class="tab-pane fade show active" id="result" role="tabpanel" aria-labelledby="result-tab">
    {% if submission %}
      {% include 'submission/submission.html.twig' %}
    {% else %}
      {% include 'results/layout.html.twig' %}
    {% endif %}
  </div>
  {% endif %}
  <div class="tab-pane fade{% if show_results == false %} show active {% endif %}" id="home" role="tabpanel" aria-labelledby="home-tab">
    {% include 'submission/form.html.twig' %}
  </div>
  {% if show_job_list == true %}
  <div class="tab-pane fade" id="list" role="tabpanel" aria-labelledby="home-list">
    {% include 'jobs-list.html.twig' %}
  </div>
  {% endif %}
  <div class="tab-pane fade" id="about" role="tabpanel" aria-labelledby="about-tab">
    {% include 'about.html.twig' %}
  </div>
  {% if show_host_tab == true %}
  <div class="tab-pane fade" id="host" role="tabpanel" aria-labelledby="host-tab">
    <div class="container">
      <div class="row host">
        {% include 'host-tab.html.twig' %}
      </div>
    </div>
  </div>
  {% endif %}
</div>
