<div id="accordion">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">Annotation results</h5>
    </div>
    <div class="card-body">
      <div class="container">
        <div class="row">
          <div class="col-10">
            {% if not results['result']['finished'] %}
              <p>Your final results files will soon be available here.</p>
            {% else %}
              {% if results['result']['canceled'] %}
                <h5>Your job failed.</h5>
                <p>Maybe you can still partially download some results. Please check the log file.</p>
                {% if results['result']['error_analysis']|length %}
                <h6>Error Identification</h6>
                <pre>
                  <code>{{ results['result']['error_analysis'] }}</code>
                </pre>
                {% endif %}
              {% else %}
                <p>Your genome annotation results are ready
                  {% if results['result']['stored_until'] %}
                     and at least available until <strong>{{ results['result']['stored_date'] }}.</strong>
                  {% else %}.
                  {% endif %}
                </p>
                <p>Click on a button to receive the related files or view the results dynamically on the genome web browser.</p>
              {% endif %}

              {% if results['result']['sqn'] %}
                {{ _self.button(results['result']['path'] ~ 'genome.sqn', 'SQN Submission File', 'success') }}
              {% endif %}

              {% if results['result']['tbl'] %}
                {{ _self.button(results['result']['path'] ~ 'genome.tbl', 'Genome Feature Table', 'success') }}
              {% elseif results['result']['tbl_alt'] %}
                {{ _self.button(results['result']['path'] ~ 'genome-table.txt', 'Genome Feature Table', 'success') }}
              {% endif %}

              {% if results['result']['jbrowse'] %}
                <br />
                {{ _self.button(results['result']['jbrowse_url'], 'View results online') }}
                <img src="images/jbrowse-logo.png" height="30px" />
              {% endif %}

            {% endif %}

            <br /><br />

            {% include("results/cite.html.twig") %}
            {% include("results/feedback.html.twig") %}

              <div class="clear:both;"></div>

              {% if results['result']['has_val'] %}
              <div class="card">
                <h5 class="card-header">
                  <button class="btn btn-link" style="font-weight:bold;" data-toggle="collapse" data-target="#collapseValidation" aria-expanded="true" aria-controls="collapseDetails">Validation</button>
                </h5>
                <div id="collapseValidation" class="collapse hide" aria-labelledby="collapseSummary" data-parent="#accordion">
                  <div class="card-body">
                    {% if results['result']['val']['busco'] %}
                      <h6>BUSCO</h6>
                      <img src="{{ results['result']['path'] }}/validation/busco/busco.svg" width="100%" />
                      <br />
                    {% endif %}
                    {% if results['result']['val']['eukcc'] %}
                      <h6>EukCC</h6>
                      <img src="{{ results['result']['path'] }}/validation/eukcc/eukcc.svg" width="100%" />
                      <br />
                    {% endif %}
                    {% if results['result']['val']['blobtools'] %}
                      <h6>BlobTools</h6>
                      <img src="{{ results['result']['path'] }}/validation/blobtools/plot.svg" width="100%" />
                      <img src="{{ results['result']['path'] }}/validation/blobtools/read_coverage.svg" width="100%" />
                      <br />
                    {% endif %}
                  </div>
                </div>
              </div>
              <br />
              {% endif %}

              {% if results['result']['overall_summary']|length %}
              <div class="card">
                <h5 class="card-header">
                  <button class="btn btn-link" style="font-weight:bold;" data-toggle="collapse" data-target="#collapseOverallSummary" aria-expanded="true" aria-controls="collapseDetails">Overall summary</button>
                </h5>
                <div id="collapseOverallSummary" class="collapse hide" aria-labelledby="collapseOverallSummary" data-parent="#accordion">
                  <div class="card-body">
                    {{ results['result']['overall_summary']|raw }}
                  </div>
                </div>
              </div>
              <br />
              {% endif %}

              {% if results['result']['summary']|length %}
              <div class="card">
                <h5 class="card-header">
                  <button class="btn btn-link" style="font-weight:bold;" data-toggle="collapse" data-target="#collapseSummary" aria-expanded="true" aria-controls="collapseDetails">Annotation summary</button>
                </h5>
                <div id="collapseSummary" class="collapse hide" aria-labelledby="collapseSummary" data-parent="#accordion">
                  <div class="card-body">
                    {{ results['result']['summary']|raw }}
                  </div>
                </div>
              </div>
              <br />
              {% endif %}

              <div class="card">
                <h5 class="card-header">
                  <button class="btn btn-link" style="font-weight:bold;" data-toggle="collapse" data-target="#collapseDetails" aria-expanded="true" aria-controls="collapseDetails">Details</button>
                </h5>
                <div id="collapseDetails" class="collapse hide" aria-labelledby="collapseDetails" data-parent="#accordion">
                  <div class="card-body">

                    {% if results['result']['tax-summary'] %}
                      <h5>Taxonomy search result</h5>
                      {{ results['result']['tax-summary']|raw }}
                    {% endif %}

                    {% if not results['result']['finished'] %}
                      <p><strong>Notice:</strong> Files during a current run can be changed at any time.</p>
                    {% endif %}

                    {% if results['result']['files']|length > 0 %}
                      {% for file in results['result']['files'] %}
                        {{ _self.button(results['result']['path'] ~ file[0], file[1], file[2]) }}
                      {% endfor %}
                    {% endif %}

                    {% if results['result']['predictions']|length > 0 %}
                      <p class="card-text">
                        <h5 class="card-title">Single outputs</h5>
                        {% for pred in results['result']['predictions'] %}
                          {{ _self.button(results['result']['path'] ~ pred[0], pred[1], pred[2]) }}
                        {% endfor %}
                      </p>
                    {% endif %}

                    {% include("results/what-to-cite.html.twig") %}

                  </div>
                </div>
              </div>
          </div>
          <div class="col-2" style="text-align: right;">
            {% include('results/sidebar.html.twig') %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% macro button(url, name, class = 'info') %}
  <a href="{{ url }}" target="_blank" class="btn btn-{{ class }} distance" >{{ name }}</a>
{% endmacro %}
