<p>Please cite always: <br />
  <ul>
    <li>
      <strong>Roman Martin, Thomas Hackl, Georges Hattab, Matthias G Fischer, Dominik Heider (2020). MOSGA: Modular Open-Source Genome Annotator. Bioinformatics. 36(22-23). 5514–5515. doi: <a href="https://doi.org/10.1093/bioinformatics/btaa1003" target="_blank">10.1093/bioinformatics/btaa1003</a>.</strong>
    </li>
    <li>
      <strong>Roman Martin, Hagen Dreßler, Georges Hattab, Thomas Hackl, Matthias G Fischer, Dominik Heider (2021). MOSGA 2: Comparative genomics and validation tools. Computational and Structural Biotechnology Journal. 19. 5504-5509. doi: <a href="https://doi.org/10.1016/j.csbj.2021.09.024" target="_blank">10.1016/j.csbj.2021.09.024</a>.</strong>
    </li>
  </ul>
</p>
