<div id="accordion">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">Comparative Genomics results</h5>
    </div>
    <div class="card-body">
      <div class="container">
        <div class="row">
          <div class="col-10">

          {% if not results['result']['finished'] %}
            <p>Your final results files will soon be available here.</p>
          {% else %}
            {% if results['result']['canceled'] %}
              <h5>Your job failed.</h5>
              <p>Maybe you can still partially download some results. Please check the log file.</p>
            {% else %}
              <p>Your prediction results are ready
                {% if results['result']['stored_until'] %}
                   and at least available until <strong>{{ results['result']['stored_date'] }}.</strong>
                {% else %}.
                {% endif %}
              </p>
              <p>Click on a button to receive the related results.</p>
            {% endif %}
          {% endif %}

          {% if results['result']['phy_tree_nwk'] %}
          <div class="card">
            <h5 class="card-header">
              <button class="btn btn-link" style="font-weight:bold;" data-toggle="collapse" data-target="#collapsePhylo" aria-expanded="true" aria-controls="collapseDetails">Phylogenetic tree</button>
            </h5>
            <div id="collapsePhylo" class="collapse show" aria-labelledby="collapseSummary1" data-parent="#accordion">
              <div class="card-body">
                {% if results['result']['phy_tree_nwk'] %}
                  {{ _self.button(results['result']['path'] ~ 'phylogenetic/phy_tree.nwk', 'Newick file', 'success') }}
                {% endif %}

                {% if results['result']['phy_tree_svg'] %}
                  {{ _self.button(results['result']['path'] ~ 'phylogenetic/phy_tree.svg', 'Phylogenetic tree', 'info') }}
                  <img src="{{ results['result']['path'] }}phylogenetic/phy_tree.svg" width="100%" />
                {% endif %}
              </div>
            </div>
          </div>
          <br />
          {% endif %}

            {% if results['result']['busco']['completeness'] or results['result']['eukcc']['completeness'] %}
            <div class="card">
              <h5 class="card-header">
                <button class="btn btn-link" style="font-weight:bold;" data-toggle="collapse" data-target="#collapseCompleteness" aria-expanded="true" aria-controls="collapseDetails">Genome Completeness</button>
              </h5>
              <div id="collapseCompleteness" class="collapse hide" aria-labelledby="collapseSummary1" data-parent="#accordion">
                <div class="card-body">
                  <p class="card-text">
                  {% if results['result']['busco']['completeness'] %}
                    <h5 class="card-title">BUSCO</h5>
                    {{ _self.button(results['result']['path'] ~ 'busco/bar_chart.html', 'Completeness (HTML)', 'success') }}
                    {{ _self.button(results['result']['path'] ~ 'busco/strip_chart.html', 'Missing (HTML)', 'success') }}
                    <br />
                    <h6>Completeness</h6>
                    <img src="{{ results['result']['path'] }}busco/bar_chart.svg" width="100%" />
                    <h6>Missing BUSCOs</h6>
                    <img src="{{ results['result']['path'] }}busco/strip_chart.svg" width="100%" />
                  {% endif %}

                  {% if results['result']['eukcc']['completeness'] %}
                    <h5 class="card_title">EukCC</h5>
                    {{ _self.button(results['result']['path'] ~ 'eukcc/scatter_plot.html', 'Completeness (HTML)', 'success') }}
                    <br />
                    <img src="{{ results['result']['path'] }}eukcc/scatter_plot.svg" width="100%" />
                  {% endif %}
                  </p>
                </div>
              </div>
            </div>
            <br />
            {% endif %}

            {% if results['result']['ani']['out']|length %}
            <div class="card">
              <h5 class="card-header">
                <button class="btn btn-link" style="font-weight:bold;" data-toggle="collapse" data-target="#collapseSummary1" aria-expanded="true" aria-controls="collapseDetails">Average Nucleotide Identity summary</button>
              </h5>
              <div id="collapseSummary1" class="collapse hide" aria-labelledby="collapseSummary1" data-parent="#accordion">
                <div class="card-body">
                  <p class="card-text">
                    <h5 class="card-title">ANI</h5>
                    {{ _self.button(results['result']['path'] ~ 'ani/ani.out', 'Raw file', 'success') }}
                    {{ _self.button(results['result']['path'] ~ 'ani/ani.out.visual', 'Visual file', 'success') }}
                    {% if results['result']['ani']['heatmap'] %}
                      {{ _self.button(results['result']['path'] ~ 'ani/heatmap.html', 'Heatmap (HTML)', 'info') }}
                      <br />
                      <img src="{{ results['result']['path'] }}ani/heatmap.svg" width="100%" />
                    {% endif %}
                    <br />
                    {{ results['result']['ani']['out']|raw }}
                  </p>
                </div>
              </div>
            </div>
            <br />
            {% endif %}

            {% if results['result']['gc']['out']|length %}
            <div class="card">
              <h5 class="card-header">
                <button class="btn btn-link" style="font-weight:bold;" data-toggle="collapse" data-target="#collapseGeneComparison" aria-expanded="true" aria-controls="collapseDetails">Gene Comparison</button>
              </h5>
              <div id="collapseGeneComparison" class="collapse hide" aria-labelledby="collapseGeneComparison" data-parent="#accordion">
                <div class="card-body">
                  <p class="card-text">
                    <h5 class="card-title"></h5>
                    {% if results['result']['gc']['similarity'] %}
                      {{ _self.button(results['result']['path'] ~ 'gene_comparison/cg_gene_matches.txt', 'Table file', 'success') }}
                      <br />
                      <img src="{{ results['result']['path'] }}gene_comparison/cg_genome_similarity.svg" width="100%" />
                    {% endif %}
                    <br />
                    {{ results['result']['gc']['out']|raw }}
                  </p>
                </div>
              </div>
            </div>
            <br />
            {% endif %}

            {% include("results/cite.html.twig") %}
            {% include("results/feedback.html.twig") %}

            <div class="card">
              <h5 class="card-header">
                <button class="btn btn-link" style="font-weight:bold;" data-toggle="collapse" data-target="#collapseDetails" aria-expanded="true" aria-controls="collapseDetails">Details</button>
              </h5>
              <div id="collapseDetails" class="collapse hide" aria-labelledby="collapseDetails" data-parent="#accordion">
                <div class="card-body">
                  {% if not results['result']['finished'] %}
                    <p><strong>Notice:</strong> Files during a current run can be changed at any time.</p>
                  {% endif %}

                  {% if results['result']['files']|length > 0 %}
                    {% for file in results['result']['files'] %}
                      {{ _self.button(results['result']['path'] ~ file[0], file[1], file[2]) }}
                    {% endfor %}
                  {% endif %}

                  {% if results['result']['predictions']|length > 0 %}
                    <p class="card-text">
                      <h5 class="card-title">Single outputs</h5>
                      {% for pred in results['result']['predictions'] %}
                        {{ _self.button(results['result']['path'] ~ pred[0], pred[1], pred[2]) }}
                      {% endfor %}
                    </p>
                  {% endif %}

                  {% include("results/what-to-cite.html.twig") %}
                </div>
              </div>
            </div>
          </div>
          <div class="col-2" style="text-align: right;">
            {% include('results/sidebar.html.twig') %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% macro button(url, name, class = 'info') %}
  <a href="{{ url }}" target="_blank" class="btn btn-{{ class }} distance" >{{ name }}</a>
{% endmacro %}
