<p>
  Do you have some questions, issues or just would like to give us <strong>feedback</strong>? Please don't hesitate to <a href="mailto:roman.martin@uni-marburg.de">write us</a> or feel free to <a href="https://gitlab.com/mosga/mosga/-/issues" target="_blank">open a new issue on Gitlab</a>.
</p>
