<div class="row">
  <div class="col-sm ls">
    {{ results['status']['g1c1'] }}
  </div>
  <div class="col-sm rs">
    <strong>
      {{ results['status']['g1c2'] }}
    </strong>
  </div>
  <div class="col-sm ls">
    {{ results['status']['g2c1'] }}
  </div>
  <div class="col-sm rs">
    {{ results['status']['g2c2'] }}
  </div>
  <div class="col-sm ls">
    {{ results['status']['g3c1'] }}
  </div>
  <div class="col-sm">
    {{ results['status']['g3c2']|raw }}
  </div>
</div>
